$primary-color: #6059c5;
$text-color: #444444;
$light-color: #ffffff;
$light-text: #888888;
$light-border: #efefef;

$new-color: #c9cc0a;
$construct-color: #384caf;
$plant-color: #de2222;

$grid-gutter: 10px; // column space
$grid-columns: 12; // column qty
$grid-max: 980px; // continuar width
$mt-max: 20;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;