@import '../../../../variables.scss';

.slider-inputs {
    
    .ng5-slider {
        margin-top: 20px;
    }
    
    .inputs {
        display: flex;        
        justify-content: space-between;
        align-items: center;
     
        .app-input {
            width: 100%;
        }

        div {
            padding: 0px;
        }

        .text-center {
            margin: 0px 10px;
        }
    }
}

.custom-slider {
    .ng5-slider {
        .ng5-slider-pointer {
            cursor: pointer;
            width: 15px;
            height: 15px;
            top: -7px;
            background-color: $primary-color;
            z-index: 3;
            border-radius: 16px;

            &:after {
                content: none !important;
            }
        }

        .ng5-slider-selection {
            background: $primary-color;
        }

        .ng5-slider-bar {
            height: 3px;
        }
    }
}